<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>824520512040-83onc66lsu2ndbsv68h61fe2uqnqbght.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.824520512040-83onc66lsu2ndbsv68h61fe2uqnqbght</string>
    <key>API_KEY</key>
    <string>AIzaSyC56tjiaT8tjAk8xLG0cKUn_i7gFqEGQ9M</string>
    <key>GCM_SENDER_ID</key>
    <string>824520512040</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.optimum.cma.dev</string>
    <key>PROJECT_ID</key>
    <string>cma-ios-5e45e</string>
    <key>STORAGE_BUCKET</key>
    <string>cma-ios-5e45e.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:824520512040:ios:7838f120d90313572adb1d</string>
</dict>
</plist>
